html {
  height: 100%;
  overflow: hidden;
  background: black;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #ff00ff;
  text-align: center;
  font-family: Lato;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}

#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  animation: animStar 50s linear infinite;
  box-shadow: 779px 1331px #ff00ff, 324px 42px #ff00ff, 303px 586px #ff00ff,
  1312px 276px #ff00ff, 451px 625px #ff00ff, 521px 1931px #ff00ff, 1087px 1871px #ff00ff,
  36px 1546px #ff00ff, 132px 934px #ff00ff, 1698px 901px #ff00ff, 1418px 664px #ff00ff,
  1448px 1157px #ff00ff, 1084px 232px #ff00ff, 347px 1776px #ff00ff, 1722px 243px #ff00ff,
  1629px 835px #ff00ff, 479px 969px #ff00ff, 1231px 960px #ff00ff, 586px 384px #ff00ff,
  164px 527px #ff00ff, 8px 646px #ff00ff, 1150px 1126px #ff00ff, 665px 1357px #ff00ff,
  1556px 1982px #ff00ff, 1260px 1961px #ff00ff, 1675px 1741px #ff00ff,
  1843px 1514px #ff00ff, 718px 1628px #ff00ff, 242px 1343px #ff00ff, 1497px 1880px #ff00ff,
  1364px 230px #ff00ff, 1739px 1302px #ff00ff, 636px 959px #ff00ff, 304px 686px #ff00ff,
  614px 751px #ff00ff, 1935px 816px #ff00ff, 1428px 60px #ff00ff, 355px 335px #ff00ff,
  1594px 158px #ff00ff, 90px 60px #ff00ff, 1553px 162px #ff00ff, 1239px 1825px #ff00ff,
  1945px 587px #ff00ff, 749px 1785px #ff00ff, 1987px 1172px #ff00ff, 1301px 1237px #ff00ff,
  1039px 342px #ff00ff, 1585px 1481px #ff00ff, 995px 1048px #ff00ff, 524px 932px #ff00ff,
  214px 413px #ff00ff, 1701px 1300px #ff00ff, 1037px 1613px #ff00ff, 1871px 996px #ff00ff,
  1360px 1635px #ff00ff, 1110px 1313px #ff00ff, 412px 1783px #ff00ff, 1949px 177px #ff00ff,
  903px 1854px #ff00ff, 700px 1936px #ff00ff, 378px 125px #ff00ff, 308px 834px #ff00ff,
  1118px 962px #ff00ff, 1350px 1929px #ff00ff, 781px 1811px #ff00ff, 561px 137px #ff00ff,
  757px 1148px #ff00ff, 1670px 1979px #ff00ff, 343px 739px #ff00ff, 945px 795px #ff00ff,
  576px 1903px #ff00ff, 1078px 1436px #ff00ff, 1583px 450px #ff00ff, 1366px 474px #ff00ff,
  297px 1873px #ff00ff, 192px 162px #ff00ff, 1624px 1633px #ff00ff, 59px 453px #ff00ff,
  82px 1872px #ff00ff, 1933px 498px #ff00ff, 1966px 1974px #ff00ff, 1975px 1688px #ff00ff,
  779px 314px #ff00ff, 1858px 1543px #ff00ff, 73px 1507px #ff00ff, 1693px 975px #ff00ff,
  1683px 108px #ff00ff, 1768px 1654px #ff00ff, 654px 14px #ff00ff, 494px 171px #ff00ff,
  1689px 1895px #ff00ff, 1660px 263px #ff00ff, 1031px 903px #ff00ff, 1203px 1393px #ff00ff,
  1333px 1421px #ff00ff, 1113px 41px #ff00ff, 1206px 1645px #ff00ff, 1325px 1635px #ff00ff,
  142px 388px #ff00ff, 572px 215px #ff00ff, 1535px 296px #ff00ff, 1419px 407px #ff00ff,
  1379px 1003px #ff00ff, 329px 469px #ff00ff, 1791px 1652px #ff00ff, 935px 1802px #ff00ff,
  1330px 1820px #ff00ff, 421px 1933px #ff00ff, 828px 365px #ff00ff, 275px 316px #ff00ff,
  707px 960px #ff00ff, 1605px 1554px #ff00ff, 625px 58px #ff00ff, 717px 1697px #ff00ff,
  1669px 246px #ff00ff, 1925px 322px #ff00ff, 1154px 1803px #ff00ff, 1929px 295px #ff00ff,
  1248px 240px #ff00ff, 1045px 1755px #ff00ff, 166px 942px #ff00ff, 1888px 1773px #ff00ff,
  678px 1963px #ff00ff, 1370px 569px #ff00ff, 1974px 1400px #ff00ff, 1786px 460px #ff00ff,
  51px 307px #ff00ff, 784px 1400px #ff00ff, 730px 1258px #ff00ff, 1712px 393px #ff00ff,
  416px 170px #ff00ff, 1797px 1932px #ff00ff, 572px 219px #ff00ff, 1557px 1856px #ff00ff,
  218px 8px #ff00ff, 348px 1334px #ff00ff, 469px 413px #ff00ff, 385px 1738px #ff00ff,
  1357px 1818px #ff00ff, 240px 942px #ff00ff, 248px 1847px #ff00ff, 1535px 806px #ff00ff,
  236px 1514px #ff00ff, 1429px 1556px #ff00ff, 73px 1633px #ff00ff, 1398px 1121px #ff00ff,
  671px 1301px #ff00ff, 1404px 1663px #ff00ff, 740px 1018px #ff00ff, 1600px 377px #ff00ff,
  785px 514px #ff00ff, 112px 1084px #ff00ff, 1915px 1887px #ff00ff, 1463px 1848px #ff00ff,
  687px 1115px #ff00ff, 1268px 1768px #ff00ff, 1729px 1425px #ff00ff,
  1284px 1022px #ff00ff, 801px 974px #ff00ff, 1975px 1317px #ff00ff, 1354px 834px #ff00ff,
  1446px 1484px #ff00ff, 1283px 1786px #ff00ff, 11px 523px #ff00ff, 1842px 236px #ff00ff,
  1355px 654px #ff00ff, 429px 7px #ff00ff, 1033px 1128px #ff00ff, 157px 297px #ff00ff,
  545px 635px #ff00ff, 52px 1080px #ff00ff, 827px 1520px #ff00ff, 1121px 490px #ff00ff,
  9px 309px #ff00ff, 1744px 1586px #ff00ff, 1014px 417px #ff00ff, 1534px 524px #ff00ff,
  958px 552px #ff00ff, 1403px 1496px #ff00ff, 387px 703px #ff00ff, 1522px 548px #ff00ff,
  1355px 282px #ff00ff, 1532px 601px #ff00ff, 1838px 790px #ff00ff, 290px 259px #ff00ff,
  295px 598px #ff00ff, 1601px 539px #ff00ff, 1561px 1272px #ff00ff, 34px 1922px #ff00ff,
  1024px 543px #ff00ff, 467px 369px #ff00ff, 722px 333px #ff00ff, 1976px 1255px #ff00ff,
  766px 983px #ff00ff, 1582px 1285px #ff00ff, 12px 512px #ff00ff, 617px 1410px #ff00ff,
  682px 577px #ff00ff, 1334px 1438px #ff00ff, 439px 327px #ff00ff, 1617px 1661px #ff00ff,
  673px 129px #ff00ff, 794px 941px #ff00ff, 1386px 1902px #ff00ff, 37px 1353px #ff00ff,
  1467px 1353px #ff00ff, 416px 18px #ff00ff, 187px 344px #ff00ff, 200px 1898px #ff00ff,
  1491px 1619px #ff00ff, 811px 347px #ff00ff, 924px 1827px #ff00ff, 945px 217px #ff00ff,
  1735px 1228px #ff00ff, 379px 1890px #ff00ff, 79px 761px #ff00ff, 825px 1837px #ff00ff,
  1980px 1558px #ff00ff, 1308px 1573px #ff00ff, 1488px 1726px #ff00ff,
  382px 1208px #ff00ff, 522px 595px #ff00ff, 1277px 1898px #ff00ff, 354px 552px #ff00ff,
  161px 1784px #ff00ff, 614px 251px #ff00ff, 526px 1576px #ff00ff, 17px 212px #ff00ff,
  179px 996px #ff00ff, 467px 1208px #ff00ff, 1944px 1838px #ff00ff, 1140px 1093px #ff00ff,
  858px 1007px #ff00ff, 200px 1064px #ff00ff, 423px 1964px #ff00ff, 1945px 439px #ff00ff,
  1377px 689px #ff00ff, 1120px 1437px #ff00ff, 1876px 668px #ff00ff, 907px 1324px #ff00ff,
  343px 1976px #ff00ff, 1816px 1501px #ff00ff, 1849px 177px #ff00ff, 647px 91px #ff00ff,
  1984px 1012px #ff00ff, 1336px 1300px #ff00ff, 128px 648px #ff00ff, 305px 1060px #ff00ff,
  1324px 826px #ff00ff, 1263px 1314px #ff00ff, 1801px 629px #ff00ff, 1614px 1555px #ff00ff,
  1634px 90px #ff00ff, 1603px 452px #ff00ff, 891px 1984px #ff00ff, 1556px 1906px #ff00ff,
  121px 68px #ff00ff, 1676px 1714px #ff00ff, 516px 936px #ff00ff, 1947px 1492px #ff00ff,
  1455px 1519px #ff00ff, 45px 602px #ff00ff, 205px 1039px #ff00ff, 793px 172px #ff00ff,
  1562px 1739px #ff00ff, 1056px 110px #ff00ff, 1512px 379px #ff00ff, 1795px 1621px #ff00ff,
  1848px 607px #ff00ff, 262px 1719px #ff00ff, 477px 991px #ff00ff, 483px 883px #ff00ff,
  1239px 1197px #ff00ff, 1496px 647px #ff00ff, 1649px 25px #ff00ff, 1491px 1946px #ff00ff,
  119px 996px #ff00ff, 179px 1472px #ff00ff, 1341px 808px #ff00ff, 1565px 1700px #ff00ff,
  407px 1544px #ff00ff, 1754px 357px #ff00ff, 1288px 981px #ff00ff, 902px 1997px #ff00ff,
  1755px 1668px #ff00ff, 186px 877px #ff00ff, 1202px 1882px #ff00ff, 461px 1213px #ff00ff,
  1400px 748px #ff00ff, 1969px 1899px #ff00ff, 809px 522px #ff00ff, 514px 1219px #ff00ff,
  374px 275px #ff00ff, 938px 1973px #ff00ff, 357px 552px #ff00ff, 144px 1722px #ff00ff,
  1572px 912px #ff00ff, 402px 1858px #ff00ff, 1544px 1195px #ff00ff, 667px 1257px #ff00ff,
  727px 1496px #ff00ff, 993px 232px #ff00ff, 1772px 313px #ff00ff, 1040px 1590px #ff00ff,
  1204px 1973px #ff00ff, 1268px 79px #ff00ff, 1555px 1048px #ff00ff, 986px 1707px #ff00ff,
  978px 1710px #ff00ff, 713px 360px #ff00ff, 407px 863px #ff00ff, 461px 736px #ff00ff,
  284px 1608px #ff00ff, 103px 430px #ff00ff, 1283px 1319px #ff00ff, 977px 1186px #ff00ff,
  1966px 1516px #ff00ff, 1287px 1129px #ff00ff, 70px 1098px #ff00ff, 1189px 889px #ff00ff,
  1126px 1734px #ff00ff, 309px 1292px #ff00ff, 879px 764px #ff00ff, 65px 473px #ff00ff,
  1003px 1959px #ff00ff, 658px 791px #ff00ff, 402px 1576px #ff00ff, 35px 622px #ff00ff,
  529px 1589px #ff00ff, 164px 666px #ff00ff, 1876px 1290px #ff00ff, 1541px 526px #ff00ff,
  270px 1297px #ff00ff, 440px 865px #ff00ff, 1500px 802px #ff00ff, 182px 1754px #ff00ff,
  1264px 892px #ff00ff, 272px 1249px #ff00ff, 1289px 1535px #ff00ff, 190px 1646px #ff00ff,
  955px 242px #ff00ff, 1456px 1597px #ff00ff, 1727px 1983px #ff00ff, 635px 801px #ff00ff,
  226px 455px #ff00ff, 1396px 1710px #ff00ff, 849px 1863px #ff00ff, 237px 1264px #ff00ff,
  839px 140px #ff00ff, 1122px 735px #ff00ff, 1280px 15px #ff00ff, 1318px 242px #ff00ff,
  1819px 1148px #ff00ff, 333px 1392px #ff00ff, 1949px 553px #ff00ff, 1878px 1332px #ff00ff,
  467px 548px #ff00ff, 1812px 1082px #ff00ff, 1067px 193px #ff00ff, 243px 156px #ff00ff,
  483px 1616px #ff00ff, 1714px 933px #ff00ff, 759px 1800px #ff00ff, 1822px 995px #ff00ff,
  1877px 572px #ff00ff, 581px 1084px #ff00ff, 107px 732px #ff00ff, 642px 1837px #ff00ff,
  166px 1493px #ff00ff, 1555px 198px #ff00ff, 819px 307px #ff00ff, 947px 345px #ff00ff,
  827px 224px #ff00ff, 927px 1394px #ff00ff, 540px 467px #ff00ff, 1093px 405px #ff00ff,
  1140px 927px #ff00ff, 130px 529px #ff00ff, 33px 1980px #ff00ff, 1147px 1663px #ff00ff,
  1616px 1436px #ff00ff, 528px 710px #ff00ff, 798px 1100px #ff00ff, 505px 1480px #ff00ff,
  899px 641px #ff00ff, 1909px 1949px #ff00ff, 1311px 964px #ff00ff, 979px 1301px #ff00ff,
  1393px 969px #ff00ff, 1793px 1886px #ff00ff, 292px 357px #ff00ff, 1196px 1718px #ff00ff,
  1290px 1994px #ff00ff, 537px 1973px #ff00ff, 1181px 1674px #ff00ff,
  1740px 1566px #ff00ff, 1307px 265px #ff00ff, 922px 522px #ff00ff, 1892px 472px #ff00ff,
  384px 1746px #ff00ff, 392px 1098px #ff00ff, 647px 548px #ff00ff, 390px 1498px #ff00ff,
  1246px 138px #ff00ff, 730px 876px #ff00ff, 192px 1472px #ff00ff, 1790px 1789px #ff00ff,
  928px 311px #ff00ff, 1253px 1647px #ff00ff, 747px 1921px #ff00ff, 1561px 1025px #ff00ff,
  1533px 1292px #ff00ff, 1985px 195px #ff00ff, 728px 729px #ff00ff, 1712px 1936px #ff00ff,
  512px 1717px #ff00ff, 1528px 483px #ff00ff, 313px 1642px #ff00ff, 281px 1849px #ff00ff,
  1212px 799px #ff00ff, 435px 1191px #ff00ff, 1422px 611px #ff00ff, 1718px 1964px #ff00ff,
  411px 944px #ff00ff, 210px 636px #ff00ff, 1502px 1295px #ff00ff, 1434px 349px #ff00ff,
  769px 60px #ff00ff, 747px 1053px #ff00ff, 789px 504px #ff00ff, 1436px 1264px #ff00ff,
  1893px 1225px #ff00ff, 1394px 1788px #ff00ff, 1108px 1317px #ff00ff,
  1673px 1395px #ff00ff, 854px 1010px #ff00ff, 1705px 80px #ff00ff, 1858px 148px #ff00ff,
  1729px 344px #ff00ff, 1388px 664px #ff00ff, 895px 406px #ff00ff, 1479px 157px #ff00ff,
  1441px 1157px #ff00ff, 552px 1900px #ff00ff, 516px 364px #ff00ff, 1647px 189px #ff00ff,
  1427px 1071px #ff00ff, 785px 729px #ff00ff, 1080px 1710px #ff00ff, 504px 204px #ff00ff,
  1177px 1622px #ff00ff, 657px 34px #ff00ff, 1296px 1099px #ff00ff, 248px 180px #ff00ff,
  1212px 1568px #ff00ff, 667px 1562px #ff00ff, 695px 841px #ff00ff, 1608px 1247px #ff00ff,
  751px 882px #ff00ff, 87px 167px #ff00ff, 607px 1368px #ff00ff, 1363px 1203px #ff00ff,
  1836px 317px #ff00ff, 1668px 1703px #ff00ff, 830px 1154px #ff00ff, 1721px 1398px #ff00ff,
  1601px 1280px #ff00ff, 976px 874px #ff00ff, 1743px 254px #ff00ff, 1020px 1815px #ff00ff,
  1670px 1766px #ff00ff, 1890px 735px #ff00ff, 1379px 136px #ff00ff, 1864px 695px #ff00ff,
  206px 965px #ff00ff, 1404px 1932px #ff00ff, 1923px 1360px #ff00ff, 247px 682px #ff00ff,
  519px 1708px #ff00ff, 645px 750px #ff00ff, 1164px 1204px #ff00ff, 834px 323px #ff00ff,
  172px 1350px #ff00ff, 213px 972px #ff00ff, 1837px 190px #ff00ff, 285px 1806px #ff00ff,
  1047px 1299px #ff00ff, 1548px 825px #ff00ff, 1730px 324px #ff00ff, 1346px 1909px #ff00ff,
  772px 270px #ff00ff, 345px 1190px #ff00ff, 478px 1433px #ff00ff, 1479px 25px #ff00ff,
  1994px 1830px #ff00ff, 1744px 732px #ff00ff, 20px 1635px #ff00ff, 690px 1795px #ff00ff,
  1594px 569px #ff00ff, 579px 245px #ff00ff, 1398px 733px #ff00ff, 408px 1352px #ff00ff,
  1774px 120px #ff00ff, 1152px 1370px #ff00ff, 1698px 1810px #ff00ff, 710px 1450px #ff00ff,
  665px 286px #ff00ff, 493px 1720px #ff00ff, 786px 5px #ff00ff, 637px 1140px #ff00ff,
  764px 324px #ff00ff, 927px 310px #ff00ff, 938px 1424px #ff00ff, 1884px 744px #ff00ff,
  913px 462px #ff00ff, 1831px 1936px #ff00ff, 1527px 249px #ff00ff, 36px 1381px #ff00ff,
  1597px 581px #ff00ff, 1530px 355px #ff00ff, 949px 459px #ff00ff, 799px 828px #ff00ff,
  242px 1471px #ff00ff, 654px 797px #ff00ff, 796px 594px #ff00ff, 1365px 678px #ff00ff,
  752px 23px #ff00ff, 1630px 541px #ff00ff, 982px 72px #ff00ff, 1733px 1831px #ff00ff,
  21px 412px #ff00ff, 775px 998px #ff00ff, 335px 1945px #ff00ff, 264px 583px #ff00ff,
  158px 1311px #ff00ff, 528px 164px #ff00ff, 1978px 574px #ff00ff, 717px 1203px #ff00ff,
  734px 1591px #ff00ff, 1555px 820px #ff00ff, 16px 1943px #ff00ff, 1625px 1177px #ff00ff,
  1236px 690px #ff00ff, 1585px 1590px #ff00ff, 1737px 1728px #ff00ff, 721px 698px #ff00ff,
  1804px 1186px #ff00ff, 166px 980px #ff00ff, 1850px 230px #ff00ff, 330px 1712px #ff00ff,
  95px 797px #ff00ff, 1948px 1078px #ff00ff, 469px 939px #ff00ff, 1269px 1899px #ff00ff,
  955px 1220px #ff00ff, 1137px 1075px #ff00ff, 312px 1293px #ff00ff, 986px 1762px #ff00ff,
  1103px 1238px #ff00ff, 428px 1993px #ff00ff, 355px 570px #ff00ff, 977px 1836px #ff00ff,
  1395px 1092px #ff00ff, 276px 913px #ff00ff, 1743px 656px #ff00ff, 773px 502px #ff00ff,
  1686px 1322px #ff00ff, 1516px 1945px #ff00ff, 1334px 501px #ff00ff, 266px 156px #ff00ff,
  455px 655px #ff00ff, 798px 72px #ff00ff, 1059px 1259px #ff00ff, 1402px 1687px #ff00ff,
  236px 1329px #ff00ff, 1455px 786px #ff00ff, 146px 1228px #ff00ff, 1851px 823px #ff00ff,
  1062px 100px #ff00ff, 1220px 953px #ff00ff, 20px 1826px #ff00ff, 36px 1063px #ff00ff,
  1525px 338px #ff00ff, 790px 1521px #ff00ff, 741px 1099px #ff00ff, 288px 1489px #ff00ff,
  700px 1060px #ff00ff, 390px 1071px #ff00ff, 411px 1036px #ff00ff, 1853px 1072px #ff00ff,
  1446px 1085px #ff00ff, 1164px 874px #ff00ff, 924px 925px #ff00ff, 291px 271px #ff00ff,
  1257px 1964px #ff00ff, 1580px 1352px #ff00ff, 1507px 1216px #ff00ff, 211px 956px #ff00ff,
  985px 1195px #ff00ff, 975px 1640px #ff00ff, 518px 101px #ff00ff, 663px 1395px #ff00ff,
  914px 532px #ff00ff, 145px 1320px #ff00ff, 69px 1397px #ff00ff, 982px 523px #ff00ff,
  257px 725px #ff00ff, 1599px 831px #ff00ff, 1636px 1513px #ff00ff, 1250px 1158px #ff00ff,
  1132px 604px #ff00ff, 183px 102px #ff00ff, 1057px 318px #ff00ff, 1247px 1835px #ff00ff,
  1983px 1110px #ff00ff, 1077px 1455px #ff00ff, 921px 1770px #ff00ff, 806px 1350px #ff00ff,
  1938px 1992px #ff00ff, 855px 1260px #ff00ff, 902px 1345px #ff00ff, 658px 1908px #ff00ff,
  1845px 679px #ff00ff, 712px 1482px #ff00ff, 595px 950px #ff00ff, 1784px 1992px #ff00ff,
  1847px 1785px #ff00ff, 691px 1004px #ff00ff, 175px 1179px #ff00ff, 1666px 1911px #ff00ff,
  41px 61px #ff00ff, 971px 1080px #ff00ff, 1830px 1450px #ff00ff, 1351px 1518px #ff00ff,
  1257px 99px #ff00ff, 1395px 1498px #ff00ff, 1117px 252px #ff00ff, 1779px 597px #ff00ff,
  1346px 729px #ff00ff, 1108px 1144px #ff00ff, 402px 691px #ff00ff, 72px 496px #ff00ff,
  1673px 1604px #ff00ff, 1497px 974px #ff00ff, 1865px 1664px #ff00ff, 88px 806px #ff00ff,
  918px 77px #ff00ff, 244px 1118px #ff00ff, 256px 1820px #ff00ff, 1851px 1840px #ff00ff,
  605px 1851px #ff00ff, 634px 383px #ff00ff, 865px 37px #ff00ff, 943px 1024px #ff00ff,
  1951px 177px #ff00ff, 1097px 523px #ff00ff, 985px 1700px #ff00ff, 1243px 122px #ff00ff,
  768px 1070px #ff00ff, 468px 194px #ff00ff, 320px 1867px #ff00ff, 1850px 185px #ff00ff,
  380px 1616px #ff00ff, 468px 1294px #ff00ff, 1122px 1743px #ff00ff, 884px 299px #ff00ff,
  1300px 1917px #ff00ff, 1860px 396px #ff00ff, 1270px 990px #ff00ff, 529px 733px #ff00ff,
  1975px 1347px #ff00ff, 1885px 685px #ff00ff, 226px 506px #ff00ff, 651px 878px #ff00ff,
  1323px 680px #ff00ff, 1284px 680px #ff00ff, 238px 1967px #ff00ff, 911px 174px #ff00ff,
  1111px 521px #ff00ff, 1150px 85px #ff00ff, 794px 502px #ff00ff, 484px 1856px #ff00ff,
  1809px 368px #ff00ff, 112px 953px #ff00ff, 590px 1009px #ff00ff, 1655px 311px #ff00ff,
  100px 1026px #ff00ff, 1803px 352px #ff00ff, 865px 306px #ff00ff, 1077px 1019px #ff00ff,
  1335px 872px #ff00ff, 1647px 1298px #ff00ff, 1233px 1387px #ff00ff, 698px 1036px #ff00ff,
  659px 1860px #ff00ff, 388px 1412px #ff00ff, 1212px 458px #ff00ff, 755px 1468px #ff00ff,
  696px 1654px #ff00ff, 1144px 60px #ff00ff;
}

#stars:after {
  content: '';
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 779px 1331px #ff00ff, 324px 42px #ff00ff, 303px 586px #ff00ff,
  1312px 276px #ff00ff, 451px 625px #ff00ff, 521px 1931px #ff00ff, 1087px 1871px #ff00ff,
  36px 1546px #ff00ff, 132px 934px #ff00ff, 1698px 901px #ff00ff, 1418px 664px #ff00ff,
  1448px 1157px #ff00ff, 1084px 232px #ff00ff, 347px 1776px #ff00ff, 1722px 243px #ff00ff,
  1629px 835px #ff00ff, 479px 969px #ff00ff, 1231px 960px #ff00ff, 586px 384px #ff00ff,
  164px 527px #ff00ff, 8px 646px #ff00ff, 1150px 1126px #ff00ff, 665px 1357px #ff00ff,
  1556px 1982px #ff00ff, 1260px 1961px #ff00ff, 1675px 1741px #ff00ff,
  1843px 1514px #ff00ff, 718px 1628px #ff00ff, 242px 1343px #ff00ff, 1497px 1880px #ff00ff,
  1364px 230px #ff00ff, 1739px 1302px #ff00ff, 636px 959px #ff00ff, 304px 686px #ff00ff,
  614px 751px #ff00ff, 1935px 816px #ff00ff, 1428px 60px #ff00ff, 355px 335px #ff00ff,
  1594px 158px #ff00ff, 90px 60px #ff00ff, 1553px 162px #ff00ff, 1239px 1825px #ff00ff,
  1945px 587px #ff00ff, 749px 1785px #ff00ff, 1987px 1172px #ff00ff, 1301px 1237px #ff00ff,
  1039px 342px #ff00ff, 1585px 1481px #ff00ff, 995px 1048px #ff00ff, 524px 932px #ff00ff,
  214px 413px #ff00ff, 1701px 1300px #ff00ff, 1037px 1613px #ff00ff, 1871px 996px #ff00ff,
  1360px 1635px #ff00ff, 1110px 1313px #ff00ff, 412px 1783px #ff00ff, 1949px 177px #ff00ff,
  903px 1854px #ff00ff, 700px 1936px #ff00ff, 378px 125px #ff00ff, 308px 834px #ff00ff,
  1118px 962px #ff00ff, 1350px 1929px #ff00ff, 781px 1811px #ff00ff, 561px 137px #ff00ff,
  757px 1148px #ff00ff, 1670px 1979px #ff00ff, 343px 739px #ff00ff, 945px 795px #ff00ff,
  576px 1903px #ff00ff, 1078px 1436px #ff00ff, 1583px 450px #ff00ff, 1366px 474px #ff00ff,
  297px 1873px #ff00ff, 192px 162px #ff00ff, 1624px 1633px #ff00ff, 59px 453px #ff00ff,
  82px 1872px #ff00ff, 1933px 498px #ff00ff, 1966px 1974px #ff00ff, 1975px 1688px #ff00ff,
  779px 314px #ff00ff, 1858px 1543px #ff00ff, 73px 1507px #ff00ff, 1693px 975px #ff00ff,
  1683px 108px #ff00ff, 1768px 1654px #ff00ff, 654px 14px #ff00ff, 494px 171px #ff00ff,
  1689px 1895px #ff00ff, 1660px 263px #ff00ff, 1031px 903px #ff00ff, 1203px 1393px #ff00ff,
  1333px 1421px #ff00ff, 1113px 41px #ff00ff, 1206px 1645px #ff00ff, 1325px 1635px #ff00ff,
  142px 388px #ff00ff, 572px 215px #ff00ff, 1535px 296px #ff00ff, 1419px 407px #ff00ff,
  1379px 1003px #ff00ff, 329px 469px #ff00ff, 1791px 1652px #ff00ff, 935px 1802px #ff00ff,
  1330px 1820px #ff00ff, 421px 1933px #ff00ff, 828px 365px #ff00ff, 275px 316px #ff00ff,
  707px 960px #ff00ff, 1605px 1554px #ff00ff, 625px 58px #ff00ff, 717px 1697px #ff00ff,
  1669px 246px #ff00ff, 1925px 322px #ff00ff, 1154px 1803px #ff00ff, 1929px 295px #ff00ff,
  1248px 240px #ff00ff, 1045px 1755px #ff00ff, 166px 942px #ff00ff, 1888px 1773px #ff00ff,
  678px 1963px #ff00ff, 1370px 569px #ff00ff, 1974px 1400px #ff00ff, 1786px 460px #ff00ff,
  51px 307px #ff00ff, 784px 1400px #ff00ff, 730px 1258px #ff00ff, 1712px 393px #ff00ff,
  416px 170px #ff00ff, 1797px 1932px #ff00ff, 572px 219px #ff00ff, 1557px 1856px #ff00ff,
  218px 8px #ff00ff, 348px 1334px #ff00ff, 469px 413px #ff00ff, 385px 1738px #ff00ff,
  1357px 1818px #ff00ff, 240px 942px #ff00ff, 248px 1847px #ff00ff, 1535px 806px #ff00ff,
  236px 1514px #ff00ff, 1429px 1556px #ff00ff, 73px 1633px #ff00ff, 1398px 1121px #ff00ff,
  671px 1301px #ff00ff, 1404px 1663px #ff00ff, 740px 1018px #ff00ff, 1600px 377px #ff00ff,
  785px 514px #ff00ff, 112px 1084px #ff00ff, 1915px 1887px #ff00ff, 1463px 1848px #ff00ff,
  687px 1115px #ff00ff, 1268px 1768px #ff00ff, 1729px 1425px #ff00ff,
  1284px 1022px #ff00ff, 801px 974px #ff00ff, 1975px 1317px #ff00ff, 1354px 834px #ff00ff,
  1446px 1484px #ff00ff, 1283px 1786px #ff00ff, 11px 523px #ff00ff, 1842px 236px #ff00ff,
  1355px 654px #ff00ff, 429px 7px #ff00ff, 1033px 1128px #ff00ff, 157px 297px #ff00ff,
  545px 635px #ff00ff, 52px 1080px #ff00ff, 827px 1520px #ff00ff, 1121px 490px #ff00ff,
  9px 309px #ff00ff, 1744px 1586px #ff00ff, 1014px 417px #ff00ff, 1534px 524px #ff00ff,
  958px 552px #ff00ff, 1403px 1496px #ff00ff, 387px 703px #ff00ff, 1522px 548px #ff00ff,
  1355px 282px #ff00ff, 1532px 601px #ff00ff, 1838px 790px #ff00ff, 290px 259px #ff00ff,
  295px 598px #ff00ff, 1601px 539px #ff00ff, 1561px 1272px #ff00ff, 34px 1922px #ff00ff,
  1024px 543px #ff00ff, 467px 369px #ff00ff, 722px 333px #ff00ff, 1976px 1255px #ff00ff,
  766px 983px #ff00ff, 1582px 1285px #ff00ff, 12px 512px #ff00ff, 617px 1410px #ff00ff,
  682px 577px #ff00ff, 1334px 1438px #ff00ff, 439px 327px #ff00ff, 1617px 1661px #ff00ff,
  673px 129px #ff00ff, 794px 941px #ff00ff, 1386px 1902px #ff00ff, 37px 1353px #ff00ff,
  1467px 1353px #ff00ff, 416px 18px #ff00ff, 187px 344px #ff00ff, 200px 1898px #ff00ff,
  1491px 1619px #ff00ff, 811px 347px #ff00ff, 924px 1827px #ff00ff, 945px 217px #ff00ff,
  1735px 1228px #ff00ff, 379px 1890px #ff00ff, 79px 761px #ff00ff, 825px 1837px #ff00ff,
  1980px 1558px #ff00ff, 1308px 1573px #ff00ff, 1488px 1726px #ff00ff,
  382px 1208px #ff00ff, 522px 595px #ff00ff, 1277px 1898px #ff00ff, 354px 552px #ff00ff,
  161px 1784px #ff00ff, 614px 251px #ff00ff, 526px 1576px #ff00ff, 17px 212px #ff00ff,
  179px 996px #ff00ff, 467px 1208px #ff00ff, 1944px 1838px #ff00ff, 1140px 1093px #ff00ff,
  858px 1007px #ff00ff, 200px 1064px #ff00ff, 423px 1964px #ff00ff, 1945px 439px #ff00ff,
  1377px 689px #ff00ff, 1120px 1437px #ff00ff, 1876px 668px #ff00ff, 907px 1324px #ff00ff,
  343px 1976px #ff00ff, 1816px 1501px #ff00ff, 1849px 177px #ff00ff, 647px 91px #ff00ff,
  1984px 1012px #ff00ff, 1336px 1300px #ff00ff, 128px 648px #ff00ff, 305px 1060px #ff00ff,
  1324px 826px #ff00ff, 1263px 1314px #ff00ff, 1801px 629px #ff00ff, 1614px 1555px #ff00ff,
  1634px 90px #ff00ff, 1603px 452px #ff00ff, 891px 1984px #ff00ff, 1556px 1906px #ff00ff,
  121px 68px #ff00ff, 1676px 1714px #ff00ff, 516px 936px #ff00ff, 1947px 1492px #ff00ff,
  1455px 1519px #ff00ff, 45px 602px #ff00ff, 205px 1039px #ff00ff, 793px 172px #ff00ff,
  1562px 1739px #ff00ff, 1056px 110px #ff00ff, 1512px 379px #ff00ff, 1795px 1621px #ff00ff,
  1848px 607px #ff00ff, 262px 1719px #ff00ff, 477px 991px #ff00ff, 483px 883px #ff00ff,
  1239px 1197px #ff00ff, 1496px 647px #ff00ff, 1649px 25px #ff00ff, 1491px 1946px #ff00ff,
  119px 996px #ff00ff, 179px 1472px #ff00ff, 1341px 808px #ff00ff, 1565px 1700px #ff00ff,
  407px 1544px #ff00ff, 1754px 357px #ff00ff, 1288px 981px #ff00ff, 902px 1997px #ff00ff,
  1755px 1668px #ff00ff, 186px 877px #ff00ff, 1202px 1882px #ff00ff, 461px 1213px #ff00ff,
  1400px 748px #ff00ff, 1969px 1899px #ff00ff, 809px 522px #ff00ff, 514px 1219px #ff00ff,
  374px 275px #ff00ff, 938px 1973px #ff00ff, 357px 552px #ff00ff, 144px 1722px #ff00ff,
  1572px 912px #ff00ff, 402px 1858px #ff00ff, 1544px 1195px #ff00ff, 667px 1257px #ff00ff,
  727px 1496px #ff00ff, 993px 232px #ff00ff, 1772px 313px #ff00ff, 1040px 1590px #ff00ff,
  1204px 1973px #ff00ff, 1268px 79px #ff00ff, 1555px 1048px #ff00ff, 986px 1707px #ff00ff,
  978px 1710px #ff00ff, 713px 360px #ff00ff, 407px 863px #ff00ff, 461px 736px #ff00ff,
  284px 1608px #ff00ff, 103px 430px #ff00ff, 1283px 1319px #ff00ff, 977px 1186px #ff00ff,
  1966px 1516px #ff00ff, 1287px 1129px #ff00ff, 70px 1098px #ff00ff, 1189px 889px #ff00ff,
  1126px 1734px #ff00ff, 309px 1292px #ff00ff, 879px 764px #ff00ff, 65px 473px #ff00ff,
  1003px 1959px #ff00ff, 658px 791px #ff00ff, 402px 1576px #ff00ff, 35px 622px #ff00ff,
  529px 1589px #ff00ff, 164px 666px #ff00ff, 1876px 1290px #ff00ff, 1541px 526px #ff00ff,
  270px 1297px #ff00ff, 440px 865px #ff00ff, 1500px 802px #ff00ff, 182px 1754px #ff00ff,
  1264px 892px #ff00ff, 272px 1249px #ff00ff, 1289px 1535px #ff00ff, 190px 1646px #ff00ff,
  955px 242px #ff00ff, 1456px 1597px #ff00ff, 1727px 1983px #ff00ff, 635px 801px #ff00ff,
  226px 455px #ff00ff, 1396px 1710px #ff00ff, 849px 1863px #ff00ff, 237px 1264px #ff00ff,
  839px 140px #ff00ff, 1122px 735px #ff00ff, 1280px 15px #ff00ff, 1318px 242px #ff00ff,
  1819px 1148px #ff00ff, 333px 1392px #ff00ff, 1949px 553px #ff00ff, 1878px 1332px #ff00ff,
  467px 548px #ff00ff, 1812px 1082px #ff00ff, 1067px 193px #ff00ff, 243px 156px #ff00ff,
  483px 1616px #ff00ff, 1714px 933px #ff00ff, 759px 1800px #ff00ff, 1822px 995px #ff00ff,
  1877px 572px #ff00ff, 581px 1084px #ff00ff, 107px 732px #ff00ff, 642px 1837px #ff00ff,
  166px 1493px #ff00ff, 1555px 198px #ff00ff, 819px 307px #ff00ff, 947px 345px #ff00ff,
  827px 224px #ff00ff, 927px 1394px #ff00ff, 540px 467px #ff00ff, 1093px 405px #ff00ff,
  1140px 927px #ff00ff, 130px 529px #ff00ff, 33px 1980px #ff00ff, 1147px 1663px #ff00ff,
  1616px 1436px #ff00ff, 528px 710px #ff00ff, 798px 1100px #ff00ff, 505px 1480px #ff00ff,
  899px 641px #ff00ff, 1909px 1949px #ff00ff, 1311px 964px #ff00ff, 979px 1301px #ff00ff,
  1393px 969px #ff00ff, 1793px 1886px #ff00ff, 292px 357px #ff00ff, 1196px 1718px #ff00ff,
  1290px 1994px #ff00ff, 537px 1973px #ff00ff, 1181px 1674px #ff00ff,
  1740px 1566px #ff00ff, 1307px 265px #ff00ff, 922px 522px #ff00ff, 1892px 472px #ff00ff,
  384px 1746px #ff00ff, 392px 1098px #ff00ff, 647px 548px #ff00ff, 390px 1498px #ff00ff,
  1246px 138px #ff00ff, 730px 876px #ff00ff, 192px 1472px #ff00ff, 1790px 1789px #ff00ff,
  928px 311px #ff00ff, 1253px 1647px #ff00ff, 747px 1921px #ff00ff, 1561px 1025px #ff00ff,
  1533px 1292px #ff00ff, 1985px 195px #ff00ff, 728px 729px #ff00ff, 1712px 1936px #ff00ff,
  512px 1717px #ff00ff, 1528px 483px #ff00ff, 313px 1642px #ff00ff, 281px 1849px #ff00ff,
  1212px 799px #ff00ff, 435px 1191px #ff00ff, 1422px 611px #ff00ff, 1718px 1964px #ff00ff,
  411px 944px #ff00ff, 210px 636px #ff00ff, 1502px 1295px #ff00ff, 1434px 349px #ff00ff,
  769px 60px #ff00ff, 747px 1053px #ff00ff, 789px 504px #ff00ff, 1436px 1264px #ff00ff,
  1893px 1225px #ff00ff, 1394px 1788px #ff00ff, 1108px 1317px #ff00ff,
  1673px 1395px #ff00ff, 854px 1010px #ff00ff, 1705px 80px #ff00ff, 1858px 148px #ff00ff,
  1729px 344px #ff00ff, 1388px 664px #ff00ff, 895px 406px #ff00ff, 1479px 157px #ff00ff,
  1441px 1157px #ff00ff, 552px 1900px #ff00ff, 516px 364px #ff00ff, 1647px 189px #ff00ff,
  1427px 1071px #ff00ff, 785px 729px #ff00ff, 1080px 1710px #ff00ff, 504px 204px #ff00ff,
  1177px 1622px #ff00ff, 657px 34px #ff00ff, 1296px 1099px #ff00ff, 248px 180px #ff00ff,
  1212px 1568px #ff00ff, 667px 1562px #ff00ff, 695px 841px #ff00ff, 1608px 1247px #ff00ff,
  751px 882px #ff00ff, 87px 167px #ff00ff, 607px 1368px #ff00ff, 1363px 1203px #ff00ff,
  1836px 317px #ff00ff, 1668px 1703px #ff00ff, 830px 1154px #ff00ff, 1721px 1398px #ff00ff,
  1601px 1280px #ff00ff, 976px 874px #ff00ff, 1743px 254px #ff00ff, 1020px 1815px #ff00ff,
  1670px 1766px #ff00ff, 1890px 735px #ff00ff, 1379px 136px #ff00ff, 1864px 695px #ff00ff,
  206px 965px #ff00ff, 1404px 1932px #ff00ff, 1923px 1360px #ff00ff, 247px 682px #ff00ff,
  519px 1708px #ff00ff, 645px 750px #ff00ff, 1164px 1204px #ff00ff, 834px 323px #ff00ff,
  172px 1350px #ff00ff, 213px 972px #ff00ff, 1837px 190px #ff00ff, 285px 1806px #ff00ff,
  1047px 1299px #ff00ff, 1548px 825px #ff00ff, 1730px 324px #ff00ff, 1346px 1909px #ff00ff,
  772px 270px #ff00ff, 345px 1190px #ff00ff, 478px 1433px #ff00ff, 1479px 25px #ff00ff,
  1994px 1830px #ff00ff, 1744px 732px #ff00ff, 20px 1635px #ff00ff, 690px 1795px #ff00ff,
  1594px 569px #ff00ff, 579px 245px #ff00ff, 1398px 733px #ff00ff, 408px 1352px #ff00ff,
  1774px 120px #ff00ff, 1152px 1370px #ff00ff, 1698px 1810px #ff00ff, 710px 1450px #ff00ff,
  665px 286px #ff00ff, 493px 1720px #ff00ff, 786px 5px #ff00ff, 637px 1140px #ff00ff,
  764px 324px #ff00ff, 927px 310px #ff00ff, 938px 1424px #ff00ff, 1884px 744px #ff00ff,
  913px 462px #ff00ff, 1831px 1936px #ff00ff, 1527px 249px #ff00ff, 36px 1381px #ff00ff,
  1597px 581px #ff00ff, 1530px 355px #ff00ff, 949px 459px #ff00ff, 799px 828px #ff00ff,
  242px 1471px #ff00ff, 654px 797px #ff00ff, 796px 594px #ff00ff, 1365px 678px #ff00ff,
  752px 23px #ff00ff, 1630px 541px #ff00ff, 982px 72px #ff00ff, 1733px 1831px #ff00ff,
  21px 412px #ff00ff, 775px 998px #ff00ff, 335px 1945px #ff00ff, 264px 583px #ff00ff,
  158px 1311px #ff00ff, 528px 164px #ff00ff, 1978px 574px #ff00ff, 717px 1203px #ff00ff,
  734px 1591px #ff00ff, 1555px 820px #ff00ff, 16px 1943px #ff00ff, 1625px 1177px #ff00ff,
  1236px 690px #ff00ff, 1585px 1590px #ff00ff, 1737px 1728px #ff00ff, 721px 698px #ff00ff,
  1804px 1186px #ff00ff, 166px 980px #ff00ff, 1850px 230px #ff00ff, 330px 1712px #ff00ff,
  95px 797px #ff00ff, 1948px 1078px #ff00ff, 469px 939px #ff00ff, 1269px 1899px #ff00ff,
  955px 1220px #ff00ff, 1137px 1075px #ff00ff, 312px 1293px #ff00ff, 986px 1762px #ff00ff,
  1103px 1238px #ff00ff, 428px 1993px #ff00ff, 355px 570px #ff00ff, 977px 1836px #ff00ff,
  1395px 1092px #ff00ff, 276px 913px #ff00ff, 1743px 656px #ff00ff, 773px 502px #ff00ff,
  1686px 1322px #ff00ff, 1516px 1945px #ff00ff, 1334px 501px #ff00ff, 266px 156px #ff00ff,
  455px 655px #ff00ff, 798px 72px #ff00ff, 1059px 1259px #ff00ff, 1402px 1687px #ff00ff,
  236px 1329px #ff00ff, 1455px 786px #ff00ff, 146px 1228px #ff00ff, 1851px 823px #ff00ff,
  1062px 100px #ff00ff, 1220px 953px #ff00ff, 20px 1826px #ff00ff, 36px 1063px #ff00ff,
  1525px 338px #ff00ff, 790px 1521px #ff00ff, 741px 1099px #ff00ff, 288px 1489px #ff00ff,
  700px 1060px #ff00ff, 390px 1071px #ff00ff, 411px 1036px #ff00ff, 1853px 1072px #ff00ff,
  1446px 1085px #ff00ff, 1164px 874px #ff00ff, 924px 925px #ff00ff, 291px 271px #ff00ff,
  1257px 1964px #ff00ff, 1580px 1352px #ff00ff, 1507px 1216px #ff00ff, 211px 956px #ff00ff,
  985px 1195px #ff00ff, 975px 1640px #ff00ff, 518px 101px #ff00ff, 663px 1395px #ff00ff,
  914px 532px #ff00ff, 145px 1320px #ff00ff, 69px 1397px #ff00ff, 982px 523px #ff00ff,
  257px 725px #ff00ff, 1599px 831px #ff00ff, 1636px 1513px #ff00ff, 1250px 1158px #ff00ff,
  1132px 604px #ff00ff, 183px 102px #ff00ff, 1057px 318px #ff00ff, 1247px 1835px #ff00ff,
  1983px 1110px #ff00ff, 1077px 1455px #ff00ff, 921px 1770px #ff00ff, 806px 1350px #ff00ff,
  1938px 1992px #ff00ff, 855px 1260px #ff00ff, 902px 1345px #ff00ff, 658px 1908px #ff00ff,
  1845px 679px #ff00ff, 712px 1482px #ff00ff, 595px 950px #ff00ff, 1784px 1992px #ff00ff,
  1847px 1785px #ff00ff, 691px 1004px #ff00ff, 175px 1179px #ff00ff, 1666px 1911px #ff00ff,
  41px 61px #ff00ff, 971px 1080px #ff00ff, 1830px 1450px #ff00ff, 1351px 1518px #ff00ff,
  1257px 99px #ff00ff, 1395px 1498px #ff00ff, 1117px 252px #ff00ff, 1779px 597px #ff00ff,
  1346px 729px #ff00ff, 1108px 1144px #ff00ff, 402px 691px #ff00ff, 72px 496px #ff00ff,
  1673px 1604px #ff00ff, 1497px 974px #ff00ff, 1865px 1664px #ff00ff, 88px 806px #ff00ff,
  918px 77px #ff00ff, 244px 1118px #ff00ff, 256px 1820px #ff00ff, 1851px 1840px #ff00ff,
  605px 1851px #ff00ff, 634px 383px #ff00ff, 865px 37px #ff00ff, 943px 1024px #ff00ff,
  1951px 177px #ff00ff, 1097px 523px #ff00ff, 985px 1700px #ff00ff, 1243px 122px #ff00ff,
  768px 1070px #ff00ff, 468px 194px #ff00ff, 320px 1867px #ff00ff, 1850px 185px #ff00ff,
  380px 1616px #ff00ff, 468px 1294px #ff00ff, 1122px 1743px #ff00ff, 884px 299px #ff00ff,
  1300px 1917px #ff00ff, 1860px 396px #ff00ff, 1270px 990px #ff00ff, 529px 733px #ff00ff,
  1975px 1347px #ff00ff, 1885px 685px #ff00ff, 226px 506px #ff00ff, 651px 878px #ff00ff,
  1323px 680px #ff00ff, 1284px 680px #ff00ff, 238px 1967px #ff00ff, 911px 174px #ff00ff,
  1111px 521px #ff00ff, 1150px 85px #ff00ff, 794px 502px #ff00ff, 484px 1856px #ff00ff,
  1809px 368px #ff00ff, 112px 953px #ff00ff, 590px 1009px #ff00ff, 1655px 311px #ff00ff,
  100px 1026px #ff00ff, 1803px 352px #ff00ff, 865px 306px #ff00ff, 1077px 1019px #ff00ff,
  1335px 872px #ff00ff, 1647px 1298px #ff00ff, 1233px 1387px #ff00ff, 698px 1036px #ff00ff,
  659px 1860px #ff00ff, 388px 1412px #ff00ff, 1212px 458px #ff00ff, 755px 1468px #ff00ff,
  696px 1654px #ff00ff, 1144px 60px #ff00ff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  animation: animStar 100s linear infinite;
  box-shadow: 1448px 320px #ff00ff, 1775px 1663px #ff00ff, 332px 1364px #ff00ff,
  878px 340px #ff00ff, 569px 1832px #ff00ff, 1422px 1684px #ff00ff, 1946px 1907px #ff00ff,
  121px 979px #ff00ff, 1044px 1069px #ff00ff, 463px 381px #ff00ff, 423px 112px #ff00ff,
  523px 1179px #ff00ff, 779px 654px #ff00ff, 1398px 694px #ff00ff, 1085px 1464px #ff00ff,
  1599px 1869px #ff00ff, 801px 1882px #ff00ff, 779px 1231px #ff00ff, 552px 932px #ff00ff,
  1057px 1196px #ff00ff, 282px 1280px #ff00ff, 496px 1986px #ff00ff, 1833px 1120px #ff00ff,
  1802px 1293px #ff00ff, 6px 1696px #ff00ff, 412px 1902px #ff00ff, 605px 438px #ff00ff,
  24px 1212px #ff00ff, 234px 1320px #ff00ff, 544px 344px #ff00ff, 1107px 170px #ff00ff,
  1603px 196px #ff00ff, 905px 648px #ff00ff, 68px 1458px #ff00ff, 649px 1969px #ff00ff,
  744px 675px #ff00ff, 1127px 478px #ff00ff, 714px 1814px #ff00ff, 1486px 526px #ff00ff,
  270px 1636px #ff00ff, 1931px 149px #ff00ff, 1807px 378px #ff00ff, 8px 390px #ff00ff,
  1415px 699px #ff00ff, 1473px 1211px #ff00ff, 1590px 141px #ff00ff, 270px 1705px #ff00ff,
  69px 1423px #ff00ff, 1108px 1053px #ff00ff, 1946px 128px #ff00ff, 371px 371px #ff00ff,
  1490px 220px #ff00ff, 357px 1885px #ff00ff, 363px 363px #ff00ff, 1896px 1256px #ff00ff,
  1979px 1050px #ff00ff, 947px 1342px #ff00ff, 1754px 242px #ff00ff, 514px 974px #ff00ff,
  65px 1477px #ff00ff, 1840px 547px #ff00ff, 950px 695px #ff00ff, 459px 1150px #ff00ff,
  1124px 1502px #ff00ff, 481px 940px #ff00ff, 680px 839px #ff00ff, 797px 1169px #ff00ff,
  1977px 1491px #ff00ff, 734px 1724px #ff00ff, 210px 298px #ff00ff, 816px 628px #ff00ff,
  686px 770px #ff00ff, 1721px 267px #ff00ff, 1663px 511px #ff00ff, 1481px 1141px #ff00ff,
  582px 248px #ff00ff, 1308px 953px #ff00ff, 628px 657px #ff00ff, 897px 1535px #ff00ff,
  270px 931px #ff00ff, 791px 467px #ff00ff, 1336px 1732px #ff00ff, 1013px 1653px #ff00ff,
  1911px 956px #ff00ff, 587px 816px #ff00ff, 83px 456px #ff00ff, 930px 1478px #ff00ff,
  1587px 1694px #ff00ff, 614px 1200px #ff00ff, 302px 1782px #ff00ff, 1711px 1432px #ff00ff,
  443px 904px #ff00ff, 1666px 714px #ff00ff, 1588px 1167px #ff00ff, 273px 1075px #ff00ff,
  1679px 461px #ff00ff, 721px 664px #ff00ff, 1202px 10px #ff00ff, 166px 1126px #ff00ff,
  331px 1628px #ff00ff, 430px 1565px #ff00ff, 1585px 509px #ff00ff, 640px 38px #ff00ff,
  822px 837px #ff00ff, 1760px 1664px #ff00ff, 1122px 1458px #ff00ff, 398px 131px #ff00ff,
  689px 285px #ff00ff, 460px 652px #ff00ff, 1627px 365px #ff00ff, 348px 1648px #ff00ff,
  819px 1946px #ff00ff, 981px 1917px #ff00ff, 323px 76px #ff00ff, 979px 684px #ff00ff,
  887px 536px #ff00ff, 1348px 1596px #ff00ff, 1055px 666px #ff00ff, 1402px 1797px #ff00ff,
  1300px 1055px #ff00ff, 937px 238px #ff00ff, 1474px 1815px #ff00ff, 1144px 1710px #ff00ff,
  1629px 1087px #ff00ff, 911px 919px #ff00ff, 771px 819px #ff00ff, 403px 720px #ff00ff,
  163px 736px #ff00ff, 1062px 238px #ff00ff, 1774px 818px #ff00ff, 1874px 1178px #ff00ff,
  1177px 699px #ff00ff, 1244px 1244px #ff00ff, 1371px 58px #ff00ff, 564px 1515px #ff00ff,
  1824px 487px #ff00ff, 929px 702px #ff00ff, 394px 1348px #ff00ff, 1161px 641px #ff00ff,
  219px 1841px #ff00ff, 358px 941px #ff00ff, 140px 1759px #ff00ff, 1019px 1345px #ff00ff,
  274px 436px #ff00ff, 1433px 1605px #ff00ff, 1798px 1426px #ff00ff, 294px 1848px #ff00ff,
  1681px 1877px #ff00ff, 1344px 1824px #ff00ff, 1439px 1632px #ff00ff,
  161px 1012px #ff00ff, 1308px 588px #ff00ff, 1789px 582px #ff00ff, 721px 1910px #ff00ff,
  318px 218px #ff00ff, 607px 319px #ff00ff, 495px 535px #ff00ff, 1552px 1575px #ff00ff,
  1562px 67px #ff00ff, 403px 926px #ff00ff, 1096px 1800px #ff00ff, 1814px 1709px #ff00ff,
  1882px 1831px #ff00ff, 533px 46px #ff00ff, 823px 969px #ff00ff, 530px 165px #ff00ff,
  1030px 352px #ff00ff, 1681px 313px #ff00ff, 338px 115px #ff00ff, 1607px 211px #ff00ff,
  1718px 1184px #ff00ff, 1589px 659px #ff00ff, 278px 355px #ff00ff, 464px 1464px #ff00ff,
  1165px 277px #ff00ff, 950px 694px #ff00ff, 1746px 293px #ff00ff, 793px 911px #ff00ff,
  528px 773px #ff00ff, 1883px 1694px #ff00ff, 748px 182px #ff00ff, 1924px 1531px #ff00ff,
  100px 636px #ff00ff, 1473px 1445px #ff00ff, 1264px 1244px #ff00ff, 850px 1377px #ff00ff,
  987px 1976px #ff00ff, 933px 1761px #ff00ff, 922px 1270px #ff00ff, 500px 396px #ff00ff,
  1324px 8px #ff00ff, 1967px 1814px #ff00ff, 1072px 1401px #ff00ff, 961px 37px #ff00ff,
  156px 81px #ff00ff, 1915px 502px #ff00ff, 1076px 1846px #ff00ff, 152px 1669px #ff00ff,
  986px 1529px #ff00ff, 1667px 1137px #ff00ff;
}

#stars2:after {
  content: '';
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1448px 320px #ff00ff, 1775px 1663px #ff00ff, 332px 1364px #ff00ff,
  878px 340px #ff00ff, 569px 1832px #ff00ff, 1422px 1684px #ff00ff, 1946px 1907px #ff00ff,
  121px 979px #ff00ff, 1044px 1069px #ff00ff, 463px 381px #ff00ff, 423px 112px #ff00ff,
  523px 1179px #ff00ff, 779px 654px #ff00ff, 1398px 694px #ff00ff, 1085px 1464px #ff00ff,
  1599px 1869px #ff00ff, 801px 1882px #ff00ff, 779px 1231px #ff00ff, 552px 932px #ff00ff,
  1057px 1196px #ff00ff, 282px 1280px #ff00ff, 496px 1986px #ff00ff, 1833px 1120px #ff00ff,
  1802px 1293px #ff00ff, 6px 1696px #ff00ff, 412px 1902px #ff00ff, 605px 438px #ff00ff,
  24px 1212px #ff00ff, 234px 1320px #ff00ff, 544px 344px #ff00ff, 1107px 170px #ff00ff,
  1603px 196px #ff00ff, 905px 648px #ff00ff, 68px 1458px #ff00ff, 649px 1969px #ff00ff,
  744px 675px #ff00ff, 1127px 478px #ff00ff, 714px 1814px #ff00ff, 1486px 526px #ff00ff,
  270px 1636px #ff00ff, 1931px 149px #ff00ff, 1807px 378px #ff00ff, 8px 390px #ff00ff,
  1415px 699px #ff00ff, 1473px 1211px #ff00ff, 1590px 141px #ff00ff, 270px 1705px #ff00ff,
  69px 1423px #ff00ff, 1108px 1053px #ff00ff, 1946px 128px #ff00ff, 371px 371px #ff00ff,
  1490px 220px #ff00ff, 357px 1885px #ff00ff, 363px 363px #ff00ff, 1896px 1256px #ff00ff,
  1979px 1050px #ff00ff, 947px 1342px #ff00ff, 1754px 242px #ff00ff, 514px 974px #ff00ff,
  65px 1477px #ff00ff, 1840px 547px #ff00ff, 950px 695px #ff00ff, 459px 1150px #ff00ff,
  1124px 1502px #ff00ff, 481px 940px #ff00ff, 680px 839px #ff00ff, 797px 1169px #ff00ff,
  1977px 1491px #ff00ff, 734px 1724px #ff00ff, 210px 298px #ff00ff, 816px 628px #ff00ff,
  686px 770px #ff00ff, 1721px 267px #ff00ff, 1663px 511px #ff00ff, 1481px 1141px #ff00ff,
  582px 248px #ff00ff, 1308px 953px #ff00ff, 628px 657px #ff00ff, 897px 1535px #ff00ff,
  270px 931px #ff00ff, 791px 467px #ff00ff, 1336px 1732px #ff00ff, 1013px 1653px #ff00ff,
  1911px 956px #ff00ff, 587px 816px #ff00ff, 83px 456px #ff00ff, 930px 1478px #ff00ff,
  1587px 1694px #ff00ff, 614px 1200px #ff00ff, 302px 1782px #ff00ff, 1711px 1432px #ff00ff,
  443px 904px #ff00ff, 1666px 714px #ff00ff, 1588px 1167px #ff00ff, 273px 1075px #ff00ff,
  1679px 461px #ff00ff, 721px 664px #ff00ff, 1202px 10px #ff00ff, 166px 1126px #ff00ff,
  331px 1628px #ff00ff, 430px 1565px #ff00ff, 1585px 509px #ff00ff, 640px 38px #ff00ff,
  822px 837px #ff00ff, 1760px 1664px #ff00ff, 1122px 1458px #ff00ff, 398px 131px #ff00ff,
  689px 285px #ff00ff, 460px 652px #ff00ff, 1627px 365px #ff00ff, 348px 1648px #ff00ff,
  819px 1946px #ff00ff, 981px 1917px #ff00ff, 323px 76px #ff00ff, 979px 684px #ff00ff,
  887px 536px #ff00ff, 1348px 1596px #ff00ff, 1055px 666px #ff00ff, 1402px 1797px #ff00ff,
  1300px 1055px #ff00ff, 937px 238px #ff00ff, 1474px 1815px #ff00ff, 1144px 1710px #ff00ff,
  1629px 1087px #ff00ff, 911px 919px #ff00ff, 771px 819px #ff00ff, 403px 720px #ff00ff,
  163px 736px #ff00ff, 1062px 238px #ff00ff, 1774px 818px #ff00ff, 1874px 1178px #ff00ff,
  1177px 699px #ff00ff, 1244px 1244px #ff00ff, 1371px 58px #ff00ff, 564px 1515px #ff00ff,
  1824px 487px #ff00ff, 929px 702px #ff00ff, 394px 1348px #ff00ff, 1161px 641px #ff00ff,
  219px 1841px #ff00ff, 358px 941px #ff00ff, 140px 1759px #ff00ff, 1019px 1345px #ff00ff,
  274px 436px #ff00ff, 1433px 1605px #ff00ff, 1798px 1426px #ff00ff, 294px 1848px #ff00ff,
  1681px 1877px #ff00ff, 1344px 1824px #ff00ff, 1439px 1632px #ff00ff,
  161px 1012px #ff00ff, 1308px 588px #ff00ff, 1789px 582px #ff00ff, 721px 1910px #ff00ff,
  318px 218px #ff00ff, 607px 319px #ff00ff, 495px 535px #ff00ff, 1552px 1575px #ff00ff,
  1562px 67px #ff00ff, 403px 926px #ff00ff, 1096px 1800px #ff00ff, 1814px 1709px #ff00ff,
  1882px 1831px #ff00ff, 533px 46px #ff00ff, 823px 969px #ff00ff, 530px 165px #ff00ff,
  1030px 352px #ff00ff, 1681px 313px #ff00ff, 338px 115px #ff00ff, 1607px 211px #ff00ff,
  1718px 1184px #ff00ff, 1589px 659px #ff00ff, 278px 355px #ff00ff, 464px 1464px #ff00ff,
  1165px 277px #ff00ff, 950px 694px #ff00ff, 1746px 293px #ff00ff, 793px 911px #ff00ff,
  528px 773px #ff00ff, 1883px 1694px #ff00ff, 748px 182px #ff00ff, 1924px 1531px #ff00ff,
  100px 636px #ff00ff, 1473px 1445px #ff00ff, 1264px 1244px #ff00ff, 850px 1377px #ff00ff,
  987px 1976px #ff00ff, 933px 1761px #ff00ff, 922px 1270px #ff00ff, 500px 396px #ff00ff,
  1324px 8px #ff00ff, 1967px 1814px #ff00ff, 1072px 1401px #ff00ff, 961px 37px #ff00ff,
  156px 81px #ff00ff, 1915px 502px #ff00ff, 1076px 1846px #ff00ff, 152px 1669px #ff00ff,
  986px 1529px #ff00ff, 1667px 1137px #ff00ff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  animation: animStar 150s linear infinte;
  box-shadow: 387px 1878px #ff00ff, 760px 1564px #ff00ff, 1487px 999px #ff00ff,
  948px 1828px #ff00ff, 1977px 1001px #ff00ff, 1284px 1963px #ff00ff, 656px 284px #ff00ff,
  1268px 1635px #ff00ff, 1820px 598px #ff00ff, 642px 1900px #ff00ff, 296px 57px #ff00ff,
  921px 1620px #ff00ff, 476px 1858px #ff00ff, 658px 613px #ff00ff, 1171px 1363px #ff00ff,
  1419px 283px #ff00ff, 1037px 731px #ff00ff, 503px 663px #ff00ff, 1562px 463px #ff00ff,
  383px 1197px #ff00ff, 1171px 1233px #ff00ff, 876px 1768px #ff00ff, 856px 1615px #ff00ff,
  1375px 1924px #ff00ff, 1725px 918px #ff00ff, 952px 119px #ff00ff, 768px 1212px #ff00ff,
  992px 1462px #ff00ff, 1929px 717px #ff00ff, 1947px 755px #ff00ff, 1818px 1123px #ff00ff,
  1896px 1672px #ff00ff, 460px 198px #ff00ff, 256px 271px #ff00ff, 752px 544px #ff00ff,
  1222px 1859px #ff00ff, 1851px 443px #ff00ff, 313px 1858px #ff00ff, 709px 446px #ff00ff,
  1546px 697px #ff00ff, 674px 1155px #ff00ff, 1112px 130px #ff00ff, 355px 1790px #ff00ff,
  1496px 974px #ff00ff, 1696px 480px #ff00ff, 1316px 1265px #ff00ff, 1645px 1063px #ff00ff,
  1182px 237px #ff00ff, 427px 1582px #ff00ff, 859px 253px #ff00ff, 458px 939px #ff00ff,
  1517px 1644px #ff00ff, 1943px 60px #ff00ff, 212px 1650px #ff00ff, 966px 1786px #ff00ff,
  473px 712px #ff00ff, 130px 76px #ff00ff, 1417px 1186px #ff00ff, 909px 1580px #ff00ff,
  1913px 762px #ff00ff, 204px 1143px #ff00ff, 1998px 1057px #ff00ff, 1468px 1301px #ff00ff,
  144px 1676px #ff00ff, 21px 1601px #ff00ff, 382px 1362px #ff00ff, 912px 753px #ff00ff,
  1488px 1405px #ff00ff, 802px 156px #ff00ff, 174px 550px #ff00ff, 338px 1366px #ff00ff,
  1197px 774px #ff00ff, 602px 486px #ff00ff, 682px 1877px #ff00ff, 348px 1503px #ff00ff,
  407px 1139px #ff00ff, 950px 1400px #ff00ff, 922px 1139px #ff00ff, 1697px 293px #ff00ff,
  1238px 1281px #ff00ff, 1038px 1197px #ff00ff, 376px 1889px #ff00ff,
  1255px 1680px #ff00ff, 1008px 1316px #ff00ff, 1538px 1447px #ff00ff,
  1186px 874px #ff00ff, 1967px 640px #ff00ff, 1341px 19px #ff00ff, 29px 1732px #ff00ff,
  16px 1650px #ff00ff, 1021px 1075px #ff00ff, 723px 424px #ff00ff, 1175px 41px #ff00ff,
  494px 1957px #ff00ff, 1296px 431px #ff00ff, 175px 1507px #ff00ff, 831px 121px #ff00ff,
  498px 1947px #ff00ff, 617px 880px #ff00ff, 240px 403px #ff00ff;
}

#stars3:after {
  content: '';
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 387px 1878px #ff00ff, 760px 1564px #ff00ff, 1487px 999px #ff00ff,
  948px 1828px #ff00ff, 1977px 1001px #ff00ff, 1284px 1963px #ff00ff, 656px 284px #ff00ff,
  1268px 1635px #ff00ff, 1820px 598px #ff00ff, 642px 1900px #ff00ff, 296px 57px #ff00ff,
  921px 1620px #ff00ff, 476px 1858px #ff00ff, 658px 613px #ff00ff, 1171px 1363px #ff00ff,
  1419px 283px #ff00ff, 1037px 731px #ff00ff, 503px 663px #ff00ff, 1562px 463px #ff00ff,
  383px 1197px #ff00ff, 1171px 1233px #ff00ff, 876px 1768px #ff00ff, 856px 1615px #ff00ff,
  1375px 1924px #ff00ff, 1725px 918px #ff00ff, 952px 119px #ff00ff, 768px 1212px #ff00ff,
  992px 1462px #ff00ff, 1929px 717px #ff00ff, 1947px 755px #ff00ff, 1818px 1123px #ff00ff,
  1896px 1672px #ff00ff, 460px 198px #ff00ff, 256px 271px #ff00ff, 752px 544px #ff00ff,
  1222px 1859px #ff00ff, 1851px 443px #ff00ff, 313px 1858px #ff00ff, 709px 446px #ff00ff,
  1546px 697px #ff00ff, 674px 1155px #ff00ff, 1112px 130px #ff00ff, 355px 1790px #ff00ff,
  1496px 974px #ff00ff, 1696px 480px #ff00ff, 1316px 1265px #ff00ff, 1645px 1063px #ff00ff,
  1182px 237px #ff00ff, 427px 1582px #ff00ff, 859px 253px #ff00ff, 458px 939px #ff00ff,
  1517px 1644px #ff00ff, 1943px 60px #ff00ff, 212px 1650px #ff00ff, 966px 1786px #ff00ff,
  473px 712px #ff00ff, 130px 76px #ff00ff, 1417px 1186px #ff00ff, 909px 1580px #ff00ff,
  1913px 762px #ff00ff, 204px 1143px #ff00ff, 1998px 1057px #ff00ff, 1468px 1301px #ff00ff,
  144px 1676px #ff00ff, 21px 1601px #ff00ff, 382px 1362px #ff00ff, 912px 753px #ff00ff,
  1488px 1405px #ff00ff, 802px 156px #ff00ff, 174px 550px #ff00ff, 338px 1366px #ff00ff,
  1197px 774px #ff00ff, 602px 486px #ff00ff, 682px 1877px #ff00ff, 348px 1503px #ff00ff,
  407px 1139px #ff00ff, 950px 1400px #ff00ff, 922px 1139px #ff00ff, 1697px 293px #ff00ff,
  1238px 1281px #ff00ff, 1038px 1197px #ff00ff, 376px 1889px #ff00ff,
  1255px 1680px #ff00ff, 1008px 1316px #ff00ff, 1538px 1447px #ff00ff,
  1186px 874px #ff00ff, 1967px 640px #ff00ff, 1341px 19px #ff00ff, 29px 1732px #ff00ff,
  16px 1650px #ff00ff, 1021px 1075px #ff00ff, 723px 424px #ff00ff, 1175px 41px #ff00ff,
  494px 1957px #ff00ff, 1296px 431px #ff00ff, 175px 1507px #ff00ff, 831px 121px #ff00ff,
  498px 1947px #ff00ff, 617px 880px #ff00ff, 240px 403px #ff00ff;
}

@keyframes animStar {
  from {
      transform: translateY(0px);
  }
  to {
      transform: translateY(-2000px);
  }
}

